<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yasirkula.unity">
	<application>
		<activity android:name=".NativeShareCustomShareDialogActivity" android:theme="@style/Theme.NativeShareTransparent" android:exported="false" />
		<receiver android:name=".NativeShareBroadcastListener" android:exported="false" />
		<provider
		  android:name="com.yasirkula.unity.NativeShareContentProvider"
		  android:authorities="${applicationId}.NativeShareContentProvider"
		  android:exported="false"
		  android:grantUriPermissions="true" />
	</application>
	
	<queries>
		<intent>
			<action android:name="android.intent.action.SEND" />
			<data android:mimeType="*/*" />
		</intent>
		<intent>
			<action android:name="android.intent.action.SEND_MULTIPLE" />
			<data android:mimeType="*/*" />
		</intent>
	</queries>
	
	<uses-sdk android:targetSdkVersion="4" />
</manifest>